.mainLayout {
  display: flex;
  min-height: 100vh;
  background: #f3f3f9;
}

.mainLayoutContent {
  flex: 1;
  margin-left: 280px;

  transition: margin-left .3s ease;
}

.mainLayoutContentCollapsed {
  margin-left: 80px;
}

.mainLayoutPage {
  margin-top: 80px;
  padding: 24px;
}

@media (max-width: 768px) {
  .mainLayoutContent,
  .mainLayoutContentCollapsed {
    margin-left: 0;
  }

  .mainLayoutPage {
    margin-top: 72px;
    padding: 15px;
  }
}